
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root{
--ancho-maximo: 1440px;
--Cyan: hsl(180, 66%, 49%);
--DarkViolet: hsl(257, 27%, 26%);
--Red: hsl(0, 87%, 67%);
--Gray: hsl(0, 0%, 75%);
--GrayishViolet: hsl(257, 7%, 63%);
--VeryDarkBlue: hsl(255, 11%, 22%);
--VeryDarkViolet: hsl(260, 8%, 14%);
}

*{
margin:0;
box-sizing:border-box;
padding:0;
}

body{
    font-family: 'Poppins', sans-serif;

}
.header{
    max-width: var(--ancho-maximo);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__list{
   
    display: flex;
    list-style: none;
    gap:1.5rem;
}

.header__link{
    text-decoration: none;
    color: var(--GrayishViolet);
    font-weight: 500;

}

    

.btn-login{
    color: var(--GrayishViolet);
    padding: 0.5rem 1.2rem;
    background-color:white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1.5rem;
    box-shadow: var(--Bright-Red) 0px 4px 10px;
}

.btn{
    color: white;
    padding: 0.5rem 1.2rem;
    background-color:var(--Cyan);
    text-decoration: none;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: var(--Bright-Red) 0px 4px 10px;  
}
.main__TI{
    display: flex  ;
    padding:0 0 10rem;
   
}

.main__flex{
    padding: 6rem 6rem;
}
.main__title{
    font-weight: 700;
    font-size: 50px;
    color:var(--VeryDarkBlue) ;
}
.main__p{
    color: var(--GrayishViolet);
    padding:0 0 2rem;
    font-weight: 500;
}
.contenedor{
 background-color: #eee;  
 margin: 0 auto;
 max-width: var(--ancho-maximo);
}
.search{
   
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    bottom: 4.5rem;
    border-radius: 0.5rem;
    background-image: url(../images/bg-shorten-desktop.svg);
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    
}
.search__text{
    width: 80%;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: var(--GrayishViolet);
    font-size: 0.9rem;
}
.btn__search{
    color: white;
    padding: 0.5rem 1.2rem;
    background-color:var(--Cyan);
    text-decoration: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: var(--Bright-Red) 0px 4px 10px;  
}
.contenor__subT{
    text-align: center;
}
.subT__titulo{
   
    font-weight: 700;
    font-size: 35px;
    color: var(--VeryDarkBlue);
}
.subT_p{
    font-weight: 500;
    color: var(--GrayishViolet);
}




@media screen and (max-width: 1440px){
.header {
    padding: 0 10rem;
}
.contenedor{
    padding: 0 5.5rem;
}
}

